
paper/.DS_Store

.DS_Store

paper/nips2012/nips_hyperbole.aux

paper/nips2012/nips_hyperbole.log

paper/nips2012/nips_hyperbole.synctex.gz

paper/nips2012/nips_hyperbole.bbl

paper/nips2012/nips_hyperbole.blg

paper/nips2012/nips_hyperbole.pdf

paper/nips2012/nips_hyperbole_supplement.aux

paper/nips2012/nips_hyperbole_supplement.log

paper/nips2012/nips_hyperbole_supplement.pdf

paper/nips2012/nips_hyperbole_supplement.synctex.gz

code/Rplots/.Rhistory

code/model/draft.m

*.m~

