
paper/.DS_Store

.DS_Store

paper/nips_hyperbole.aux

paper/nips_hyperbole.log

paper/nips_hyperbole.synctex.gz

paper/nips_hyperbole.bbl

paper/nips_hyperbole.blg

paper/nips_hyperbole.pdf

paper/nips_hyperbole_supplement.aux

paper/nips_hyperbole_supplement.log

paper/nips_hyperbole_supplement.pdf

paper/nips_hyperbole_supplement.synctex.gz
