
paper/.DS_Store

.DS_Store

paper/nips2012/nips_hyperbole.aux

paper/nips2012/nips_hyperbole.log

paper/nips2012/nips_hyperbole.synctex.gz

paper/nips2012/nips_hyperbole.bbl

paper/nips2012/nips_hyperbole.blg

paper/nips2012/nips_hyperbole.pdf

paper/nips2012/nips_hyperbole_supplement.aux

paper/nips2012/nips_hyperbole_supplement.log

paper/nips2012/nips_hyperbole_supplement.pdf

paper/nips2012/nips_hyperbole_supplement.synctex.gz

code/Rplots/.Rhistory

code/model/draft.m

*.m~

data/model/predict_sweater_realAffect_states14.csv

data/model/predict_laptop_realAffect_states14_laplace.csv

data/model/predict_watch_realAffect_states14.csv

data/model/predict_watch_realAffect_states14.csv

data/model/predict_laptop_realAffect_states14.csv

data/model/predict_kettle_realAffect_states14.csv

data/model/predict_headphones_realAffect_states14.csv

data/model/predict_coffee_realAffect_states14.csv
